
<form>
  <label for="edit-box">Edit content of <%= @file_name %>:</label>
  <textarea id="edit-box" name="edit-box" rows="25" cols="133"
  placeholder="Documents can be edited now."><%= @file_content %></textarea>

</form>