<form action="/files" method='post'>
  <label for='new_file'>Add a new document name</label>
  <input type='input' name='document_name' value="">
  <button type='submit' name="create">Create</button>
</form>