<div class='format-message'>
  <%= format_supported_file_format_message %>
</div>

<div class='center-form'>
  <form action="/<%= @file_name %>/duplicate" method='post'>
    <label for='document_name'>Duplicating file <%= @file_name %>.
                               Add a new document name:</label>
    <input name='document_name' value="<%= @file_name %>">
    <button type='submit' name="create">Create</button>
  </form>
</div>

