
<form action='/<%= @file_name %>/edit'   method='post'>
  <label for="edit_box">Edit content of <%= @file_name %>:</label>

  <textarea id="edit_box" name="edit_box" rows="25" cols="133"
  placeholder="Documents can be edited now."><%= @file_content %></textarea>

  <br><button type='submit' class='edit'>Save changes</button>
</form>