<% content_for :flash_message do %>
  <%= session.delete :error %>
<% end %>

<ul>
  <% @files.each do |file| %>
    <li>
      <a href='/<%= file %>'><%= file %></a>
      <a class='edit' href='/<%= file %>/edit'>Edit</a></a>
    </li>
  <% end %>
</ul>
