<div class='format-message'>
  <%= format_supported_file_format_message %>
</div>

<div class='center-form'>
  <form action="/files/upload" method='post'>
    <label for='document_name'>Type url to upload</label>
    <input name='document_name' value="">
    <button type='submit' name="upload">Upload</button>
  </form>
</div>
