<form>
  <label for='username'>Username</label>
  <input name='username' value=''>

  <label for='password'>Password</label>
  <input type='password' value=''>

  <button type='submit'>Sign In</button>
</form>